*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: black;
}
.logo{
    max-width:7rem;
    border-radius:50px;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}
.nav-list li a {
    text-decoration: none;
    color: white

}
.abrir-menu,
.cerrar-menu{
    display: none;
}

@media screen and ( max-width: 550px){
   .abrir-menu,
   .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }

.nav{
    display: none;
    
} 
.nav{
    display: none;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0,0,0, .5);
}
.nav.visible{
opacity: 1;
visibility: visible;
}
.nav-list{
    flex-direction: column;
    align-items: end;
}

}

.foto1{
    height: 2rem;
    border-radius: 15px;
    
    
}

.foto-mia{
    height: 10rem;
    width: 8.3rem;
    border-radius: 15px;
    border: solid;
    margin: 2rem;
    box-shadow: 16px 14px 0px #ff661aad;
}
.texto-pie{
    font-size: 17px;
}
h1{
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.829);
}
h3{
    color: white;
}
p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.801);
}
.cabezera-pagina{
    padding: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-color: black;
       
}
.cuerpo-pagina{
    margin: 5vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 85vh;
    background-color: black;
}

.pie{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 20vh;
    background-color: black;
    padding: 3rem;
}
i{
    
    color: rgba(255, 255, 255, 0.815);
    padding: 2px;
}
.otroco{
    color: #ff661aef;
}
.cuerpo{
    height: 90vh;
    width: 45vh;
    
    margin: 1rem;
    padding: 1rem;
}
.rutas{
    margin: 10px;
}
.text-proyectos{
    
    color: rgb(255, 255, 255);
    font-size: 25px;


    }
    
    
    img {
        margin: 5vh;
        width: 10vh;
        height: auto;
        border-radius: 5px;
        box-shadow: 16px 0px 0px #ff661aad;

    }
    .juliii{
        color:rgba(255, 255, 255, 0.836) ;
        background-color: #ff661aad;
    }